*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.pdf
*.run.xml
*.synctex.gz
*.toc
debug.log
!assets/logo_unir.pdf
!assets/figuras/**
!assets/casos_uso.pdf
build/

.vscode/*
!.vscode/settings.json

datasets/statsbomb_events.csv
datasets/match_minute_features.csv

.venv/
.claude/
